.search {
    min-height: 100vh;
}

.currentWeather {
    min-height: 30vh;
    border: solid;
}

.inputArea {
    width: 100%;
}
.searchBody {
    padding: 5px;
}

img {
    max-width: 75px;
}

.inline {
    display: inline-block;
}

ul {
    list-style-type: none;
}

li {
    font-size: 25px;
}

p {
    font-size: 25px;
}

h3 {
    font-weight: bolder;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
}